*{
    box-sizing: border-box;
}


h1{
    text-align: center;
}


.container,.container2,.container3{
    background-color:gray;
    border:1px solid black;
    float:left;
    margin:5px;
    
    }
.menu1{
    background-color: pink;
    padding:10px;
    padding-left: 20px;
    padding-right:20px;
    text-align: center;
    float: right;
    border:1px solid black;
    margin:0px;
} 
.menu2{
    background-color: red;
    padding:10px;
    padding-left: 20px;
    padding-right:20px;
    text-align: center;
    float:right;
    border:1px solid black;
    margin: 0px;
} 
.menu3{
    background-color: yellow;
    padding:10px;
    padding-left: 20px;
    padding-right:20px;
    text-align: center;
    float:right;
    border:1px solid black;
    margin: 0px;
}   

.content{
    padding:20px;
    padding-top: 40px;
    
}



  

  
  @media(min-width:991px){
    .container,.container2,.container3{
        width:32%;
        position: relative;
        left:14px;
        

    }

  } 
 
  @media(min-width:768px) and (max-width:991px){
    .container,.container2{
        width:48%;
    }
    .container3{
        width:97%;
    }

}  
    @media(max-width:767px){
    .container,.container2,.container3{
        width:97%;
    }

  }        
    
 